################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SignalRwebsite/bin
/SignalRwebsite/obj/Debug
*.user
